.list-rout {
    width: 10em;
    height: 3em;
    align-items:center;
    justify-content: center;
    float:left;
    background: #40E0D0;
    cursor: pointer;
    display:flex;
}

.list-rout:hover {
    background: #7FFFD4;
}