.App-rout {
  display:flex;
  justify-content: space-between;
  background: #40E0D0;
}
.Label {
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
  vertical-align: middle;
  background: #4169E1;
  height: 7em;
  pointer-events: none;
}
.App{
  height: 100vh;
  background: #B0E0E6;
}
.App-rooms {
  background: #B0E0E6;
}
.App-logo {
  text-align: center;
  display: flex;
  align-items:center;
  justify-content: center;
  vertical-align: middle;
  background: #4169E1;
  height: 8em;
  pointer-events: none;
}
